<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.2/xlsx.full.min.js"></script>
</head>

<body>
    <a href="/">Home</a>
    <form id="myForm">
        <table>
            <% data.products.forEach(function(item) { %>
                <% Object.keys(item).forEach(function(propChild) { %>
                    <% if(item.id == id) { %>
                        <% if(typeof item[propChild] == 'object') { %>
                            <% Object.keys(item[propChild]).forEach(function(prp) { %>
                                <tr>
                                    <td><label> <%= propChild %> <%= prp %> </label></td>
                                    <% if(prp == 'id') { %>
                                        <td><input type="text" disabled name="<%= propChild+'-'+prp %>" value="<%= item[propChild][prp] %>"> </td>
                                    <% }else{ %>
                                        <td><input type="text" name="<%= propChild+'-'+prp %>" value="<%= item[propChild][prp] %>"> </td>
                                    <% } %>
                                </tr>
                            <%})%>
                        <%} else{%>
                            <tr>
                                <td><label><%= propChild %> </label></td>
                                <% if(propChild == 'id') { %>
                                    <td><input type="text" disabled name="<%= propChild %>" value="<%= item[propChild] %>"> </td>
                                <% }else{ %>
                                    <td><input type="text" name="<%= propChild %>" value="<%= item[propChild] %>"> </td>
                                <% } %>
                            </tr>
                        <%}%>
                    <%}%>
                <%})%>
            <%})%>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Edit"></td>
                <td>&nbsp;</td>
            </tr>
        </table>
       
    </form>
    <script>
        $(document).ready(function() {
           var arrUrl = window.location.href.split("/");
           var categoryId = arrUrl[arrUrl.length - 2];
           var productId = arrUrl[arrUrl.length - 1]

            $('#myForm').on('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission

              

                var formData = $(this).serialize();
                $("input").attr("disabled", true);
                $.ajax({
                    url: '/edit/'+categoryId+'/'+productId,
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        $("input").attr("disabled", false);
                        alert("update berhasil");
                    },
                    error: function(xhr, status, error) {
                        $("input").attr("disabled", false);
                        alert("update error");
                    }
                });
            });
        });
    </script>
</body>
</html>
